@import '../variables';

.hero {
  height: 500px;
  margin-top: 73px;
  .hero-title {
    text-shadow: 1px 1px 2px black;
    margin-top: 0;
  }
  .hero-subtitle {
    text-shadow: 1px 1px 2px black;
    margin-top: 20px;  
  }
  
  @include xsmall {
    height: 400px;
  }
  
  @include large {
    height: 100vh;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 200px;
    .hero-title {
      
    }
    .hero-subtitle {
      
    }
  }
}
