@import '~reset-css/reset';
@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html, 
body,
#app {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    fade-out($dark-blue, .1),
    fade-out($dark-purple, .3)
  );
  color: $light-grey;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: lighten($light-purple, 10%);
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}
