@import '~reset-css/reset';
@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
.app {
  font: 16px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background: linear-gradient(
    to bottom,
    rgb(22,32,34) 50%,
    fade-out($dark-purple, .1) 100%
  );
  color: $light-grey;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: lighten($light-purple, 10%);
  }
}

// TYPOGRAPHY

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p, span, li {
  font-size: 1.249rem;
  line-height: 1.59rem;
}

small {
  font-size: 0.9rem;
}

// PAGES

.page {
  display: flex;
  flex-direction: column;

  > div {
    padding: 20px;
    margin-bottom: 20px;
  }
}

.button {
  margin: 10px;
  padding: 10px;
  background-color: $purple_grey;
  color: $white;
  border-radius: 3px;
  border: 0;
}
